/* brown #512200 */

html {
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
}


*, *::before, *::after {
  box-sizing: inherit;
}

body{
  margin: 0;
}

.header-box{
  width: 100%;
  margin-top;
  padding: 20px 0px 75px 0px;
  background-image: url("../images/waves.png");
  background-size: 100px auto;
}

h1{
  position: absolute;
  width: 50%;
  right: 19.5%;
  top: -.5em;
}

.header-content{
  position: relative;
  width: 320px;
  margin: 0 auto;
}

.Beetle{
  position: absolute;
  width: 30%;
  top: -1.5em;
  left: -12%;
}

.Beetle2{
  position: absolute;
  width: 30%;
  top: -1.5em;
  right: -12%;
}

nav{
  float: left;
  overflow: hidden;
  width: 100%;
}

nav ol{
  margin: 0;
  overflow: hidden;
  list-style-type: none;
  padding: 0;
}

nav li{
  float:left;
  width: 25%;
  margin: 0;
  text-align: center;
  font-weight: bold;
}

.dirt{
  position: relative;
  width: 100%;
}
